.newTasks {
    display: flex;
    justify-content: center;
    height: 3.375rem;
    margin-top: -1.6875rem;
    gap: .5rem;
}

.newTasks > input {
    width: 100%;
    border-radius: 8px;
    padding: 1rem;
    border: 1px solid var(--gray-700);
    background: var(--gray-500);
    color: var(--gray-100);
}

.newTasks button[type=submmit] {
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    background: var(--blue-500);
    color: var(--gray-100);
    font-size: .875rem;
    border: 0;
    font-weight: bold;
    cursor: pointer;

    transition: background .3s;
}

.newTasks button[type=submmit] > svg {
    color: var(--gray-100);
}

.newTasks button[type=submmit]:hover {
    background: var(--blue-300);
}